.SearchBar {
  height: 30px;
}

.input {
  border: none;
  outline: none;
  height: 30px;
  width: 300px;
  background-color: rgba(31, 65, 41, 0.6);
  border-radius: 30px 0px 0px 30px;
  color: white;
  transition: all cubic-bezier(0.215, 0.610, 0.355, 1) .4s;
  padding: 0 20px;
}

.input:focus {
  background-color: rgb(39, 99, 16);
  box-shadow: 0px 0px 25px 1px rgba(0,255,10,.6);
}

.button {
  border: none;
  width: 100px;
  height: 30px;
  border-radius: 0px 30px 30px 0px;
  cursor: pointer;
}

.button:hover {
  background-color: #ddd;
}